.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  > li {
    list-style: none;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
