.opened {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
}

.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 2;
  padding: 24px;
  transition: transform 0.2s ease-in-out;

  @media (width >= 768px) {
    display: none;
  }
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--color-secondary);
}
